@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
    font-family: "Stylish", sans-serif;
}

.wrap {
    width: 900px;
    margin: auto;
}

.alert {
    position: relative;
    padding: .75rem 0rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #ffffff;
    border-color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    height: 20px;
    border-width: thin;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.reading-book-card {
    max-width: 20%;
    margin: 1rem;
}

.card-img-top .badge {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.badge {
    z-index: 10;
}

.section-nav {
    padding: 10px;
    text-underline-position: auto;
    border-color: black;
    border-bottom: solid;
    font-size: 1.2rem;
    font-weight: 700;
}

.list-group {
    float: left;
}

.list-items {
    display: inline-flex;
}

.progress {
    background-color: #e9ecef;
    border-radius: 0rem;
}

.progress-bar {
    background-color: #40454a;
}

.text-button {
    border: none;
    background: #ffffff00;
    padding: .2rem .5rem;
    color: #c5c5c5;
    font-weight: 100;
}

.card-footer {
    padding: 0px;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);

}

.card-footer:last-child {
    border-radius: 0rem 0rem .8rem .8rem;
    border: solid #212529;
    background: #212529;

}

/*.card-img-bg {*/
/*    width: 100%;*/
/*    border-radius: calc(.25rem - 1px);*/
/*    filter: blur(1px);*/
/*    -webkit-filter: blur(10px);*/
/*}*/

.card {
    box-shadow: 5px 5px 5px #00000014;
    margin: 1rem 0rem 2rem 0rem;
}

.badge-bok {
    z-index: 10;
    position:absolute;
	border-radius:30px;
	box-shadow: 2px 2px 3px #999;
    top: 30px;
    right: 30px;
}

.card-sub-text {
    font-weight: 200;
    color: #545b62;
}

.toast {
    position: fixed;
    top: 30px;
    right: 30px;
    box-shadow: 3px 3px 3px #00000038;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    border-color: antiquewhite;
}
}

.toast-body {
    padding-top: 15px;

}