<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!--    <script src="dist/clipboard.min.js"></script> &lt;!&ndash; 클립보드 스크립트 &ndash;&gt;-->

    <!-- 구글폰트 -->
    <!--    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">-->


    <title>복불복 서</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#book-info").html("");
        });

        function pasteBook() {
            //1. 책 정보를 가져오는 애를 호출하자.
            // window.clipboardData.getData('Text');
            // alert(clipboard);

            $.ajax({
                type: "POST",
                url: "/book",
                data: {},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        let info = response["bookinfo"];
                        console.log(info);
                        let title = info['title'];
                        let url = info['url'];
                        let desc = info['desc'];
                        let author = info['author'];
                        let image = info['image'];
                        let price = info['price'];
                        // let ebook_price = info['ebook_price'];
                        // if(ebook_price>0)
                        //     scrapingResult(title, url, desc, author, image, price, ebook_price);
                        // else
                            scrapingResult(title, url, desc, author, image, price);
                        // window.location.reload();
                    }
                }
            })
        }

        function scrapingResult(title, url, desc, author, image, price) {
            let horicard = `<div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="${image}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="${url}">${title}</a></h5>
                        <p class="card-text">${desc}</p>
                        <p class="card-text"><small class="text-muted">${author}</small></p>
                        <p class="card-text"><small class="text-muted">${price}</small></p>
                    </div>
                </div>
            </div>
        </div>`
            $('#book-info').append(horicard);
        }

        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/book",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        // 검색 결과를 노출한다.
                    }
                }
            })
        }

    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">책 찾아요 진짜 찾아요</h1>
        <p class="lead">서점이든 내책이든 어쨋든 좀 찾아봅시다</p>
        <button type="button" class="btn btn-secondary" onclick="pasteBook()">붙여넣기</button>
    </div>

    <div id="book-info">

    </div>
</div>
</body>

</html>