<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <!--    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">-->


    <title>복불복 서</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#id").html(""); // 화면에 출력되어 있는 결과를 비운다
            showArticles(); // 함수부르기
        });

        function openClose() {
        }
        }

        function searchBook() {
            //1. 책 이름을 가져온다.
            //2. 미입력시 밸리데이션
            if () {
                alert('입력해주세요')
                return;
            }

            //3. 네이버에서 검색한다.
            $.ajax({
                type: "POST",
                url: "/search",
                data: {title: title},

                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function showArticles() {
            $.ajax({
                type: "GET",
                url: "/search",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        // 검색 결과를 노출한다.
                    }
                }
            }
        }

        )
        }

        //리스트로 그리기
        function searchResult() {
            let tempHtml = ``
            $('#result-row').append(tempHtml);
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">책 찾아요 진짜 찾아요</h1>
        <p class="lead">서점이든 내책이든 어쨋든 좀 찾아봅시다</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="검색할 책 이름을 넣어주세요" aria-label="검색할 책 이름을 넣어주세요"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="searchBook()">네이버
                    검색하기
                </button>
            </div>
        </div>
    </div>


    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">아티클 URL</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단 코멘트</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="postArticle()">기사저장</button>
        </div>
    </div>
    <div id="search-result" class="result-row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">검색결과</th>
                <th scope="col">책 정보</th>
                <th scope="col">가격</th>
                <th scope="col">전자책</th>
                <th scope="col">구입가능여부</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <p style="font-weight: bold">소설 타이틀</p>
                    <p>소설책 설명을 블라블라하</p>
                </td>
                <td>@mdo</td>
                <td><a href="#" class="badge badge-success">Success</a></td>
                <td><a href="#" class="badge badge-success">Success</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</body>

</html>